body {
    margin: 0;
    font-family: 'Righteous', cursive;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.button {
    padding: 25px;
    border-color: black;
    border-style: solid;
    min-height: 300px;
    min-width: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-enable {
    cursor: pointer;
}

.button-enable:active {
    transform: scale(0.98);
    -webkit-transform: scale(0.98);
    -ms-transform: scale(0.98);
    -moz-transform: scale(0.98);
}

.button-enable:hover {
    -moz-box-shadow: inset 0 0 150px 150px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: inset 0 0 150px 150px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 0 150px 150px rgba(255, 255, 255, 0.5);
}

.button-highlight {
    -moz-box-shadow: inset 0 0 150px 150px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: inset 0 0 150px 150px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 0 150px 150px rgba(255, 255, 255, 0.5);
}

#left-top {
    border-width: 0px 5px 5px 0px;
    border-radius: 350px 20px 0 20px;
    -moz-border-radius: 350px 20px 0 20px;
    -webkit-border-radius: 350px 20px 0 20px;
}

#right-top {
    border-width: 0px 0px 5px 5px;
    border-radius: 20px 350px 20px 0;
    -moz-border-radius: 20px 350px 20px 0;
    -webkit-border-radius: 20px 350px 20px 0;
}

#left-bottom {
    border-width: 5px 5px 0px 0px;
    border-radius: 20px 0 20px 350px;
    -moz-border-radius: 20px 0 20px 350px;
    -webkit-border-radius: 20px 0 20px 350px;
}

#right-bottom {
    border-width: 5px 0px 0px 5px;
    border-radius: 0 20px 350px 20px;
    -moz-border-radius: 0 20px 350px 20px;
    -webkit-border-radius: 0 20px 350px 20px;
}

.start-circle {
    border-radius: 50%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: CENTER;
    top: 50vh;
    left: 50vw;
    width: 250px;
    height: 250px;
    margin-top: -125px;
    margin-left: -125px;
    background-color: rgb(159, 153, 153);
    border: 5px solid black;
    z-index: 2;
}

.color-pallette {
    position: fixed;
    top: 5vh;
    left: 93vw;
    font-size: 60px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    color: black;
    -webkit-background-clip: text;
}

.color-pallette:hover {
    color: transparent;
    background-size: 800% 800%;
    background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
    animation: rainbow 8s ease infinite;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
}

.rainbow-text {
    color: transparent;
    background-size: 800% 800%;
    background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
    -webkit-background-clip: text;
    animation: rainbow 8s ease infinite;
    text-decoration: underline;
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 25%
    }

    100% {
        background-position: 0% 50%
    }
}

.background {
    border-radius: 50%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50vh;
    left: 50vw;
    width: 760px;
    height: 760px;
    margin-top: -380px;
    margin-left: -380px;
    background-color: rgb(0, 0, 0);
    z-index: -1;
}

#start {
    font-size: 25px;
    margin-top: 10px 0 0 0;
    border: 3px solid black;
    background-color: white;
    border-radius: 8px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#start:hover {
    transform: scale(1.1);
    color: red;
}

#count {
    font-size: 75px;
    color: rgb(204, 25, 25);
    padding: 15px 10px;
    margin: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 5;
    padding-top: 175px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #c0bcbc;
    margin: auto;
    padding: 20px;
    border: 5px solid #000000;
    width: 30%;
    border-radius: 15px;
}

.modal-content h1 {
    text-align: center;
}

.color-schemes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.scheme {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scheme:hover {
    border-color: white;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    height: 100px;
    width: 100px;
    border: #000000 solid 1px;
}

#scheme-one-one {
    background-color: #008000
}
#scheme-one-two {
    background-color: #ff0000
}
#scheme-one-three {
    background-color: #ffff00
}
#scheme-one-four {
    background-color: #0000ff
}

#scheme-two-one {
    background-color: #1AFFD5
}
#scheme-two-two {
    background-color: #FC6DAB
}
#scheme-two-three {
    background-color: #007FFF
}
#scheme-two-four {
    background-color: #7D83FF
}

#scheme-three-one {
    background-color: #97CC04
}
#scheme-three-two {
    background-color: #F05D5E
}
#scheme-three-three {
    background-color: #EEB902
}
#scheme-three-four {
    background-color: #0F7173
}

#scheme-four-one {
    background-color: #001F54
}
#scheme-four-two {
    background-color: #034078
}
#scheme-four-three {
    background-color: #1282A2
}
#scheme-four-four {
    background-color: #0A1128
}

#scheme-five-one {
    background-color: #7BC950
}
#scheme-five-two {
    background-color: #D81E5B
}
#scheme-five-three {
    background-color: #7CE577
}
#scheme-five-four {
    background-color: #3A3335
}

#scheme-six-one {
    background-color: #4F0147
}
#scheme-six-two {
    background-color: #8B85C1
}
#scheme-six-three {
    background-color: #D4CDF4
}
#scheme-six-four {
    background-color: #3A015C
}

#scheme-seven-one {
    background-color: #A27035
}
#scheme-seven-two {
    background-color: #B88B4A
}
#scheme-seven-three {
    background-color: #DDCA7D
}
#scheme-seven-four {
    background-color: #533E2D
}

#scheme-eight-one {
    background-color: #8EA604
}
#scheme-eight-two {
    background-color: #FF7F11
}
#scheme-eight-three {
    background-color: #F00699
}
#scheme-eight-four {
    background-color: #454E9E
}

#scheme-nine-one {
    background-color: #000000;
    border-color: white;
}
#scheme-nine-two {
    background-color: #000000;
    border-color: white;
}
#scheme-nine-three {
    background-color: #000000;
    border-color: white;
}
#scheme-nine-four {
    background-color: #000000;
    border-color: white;
}

@media only screen and (max-width: 765px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        overflow: hidden;
    }

    .button {
        border: solid black 10px;
        height: 50vh;
        width: 50vw;
        min-height: 50vh;
        min-width: 50vw;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }

    #left-top {
        background-color: green;
        border-radius: 0;
    }

    #right-top {
        background-color: red;
        border-radius: 0;
    }

    #left-bottom {
        background-color: yellow;
        border-radius: 0;
    }

    #right-bottom {
        background-color: blue;
        border-radius: 0;
    }

    .start-circle {
        border-radius: 50%;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: CENTER;
        top: 50vh;
        left: 50vw;
        width: 150px;
        height: 150px;
        margin-top: -75px;
        margin-left: -75px;
        background-color: rgb(159, 153, 153);
        border: 5px solid black;
        z-index: 2;
    }

    .color-pallette {
        display: none !important;
    }
}